<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="firstName">FirstName : </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>

    <br/>

    <label for="lastName">LastName : </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br/>

    <label for="specialisation">Specialisation : </label>
    <input type="text" th:field="*{specialisation}" id="specialisation"/>

    <br/>

    <input type="submit" value="Update!"/>
</form>
</body>
</html>